<a href="https://colab.research.google.com/github/Robert-Dstech/Data-science-/blob/main/uploading_csv_to_colab_(Second_method_illustration).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path='/content/drive/MyDrive/AutoInsClaims.csv'

In [ ]:
df=pd.read_csv(path)

In [ ]:
df.head()

,HOUSEHOLD_ID,DRIVER_ID,POLICY_ID,CLAIM_ID,INCIDENT_CAUSE,DESCRIPTION,CLAIM_STATUS,ODOMETER_AT_LOSS,LOSS_EVENT_TIME,CLAIM_INIT_TIME,...,GENDER,BIRTHDATE,SSN,DRIVERS_LICENSE_ID,DRIVERS_LICENSE_EXPIRY,DRIVERS_LICENSE_STATE,DATE_AT_CURRENT_ADDRESS,CONTACT_NUMBER,EMAIL,COMMUTE_DISCOUNT
0,CH42335,XZJ2837,NW5567882,A-2017-UU907,3,NaN,1,157654.9,4/25/17,4/28/17,...,M,12/25/73,457-20-9007,X151-5971-1594,8/19/18,IL,4/16/99,634-603-0960,wdorau@freshmaail.com,0
1,IH49805,VVR6423,UR4864804,A-2018-FI481,3,NaN,3,226154.5,8/26/18,8/31/18,...,F,9/14/45,718-38-8987,K702-7678-1851,1/27/18,IL,6/9/11,827-916-0381,tmostrom@yahoot.com,0
2,AF28736,UQM2512,RR8595908,A-2016-ZG694,1,NaN,1,83968.6,1/7/16,1/11/16,...,F,5/16/88,076-62-7083,V549-5272-3181,11/19/19,IL,5/21/05,723-552-0479,esebranek@zohoo.com,0
3,EF53594,YDT5591,RN5640634,A-2016-NG783,1,NaN,1,309570.3,12/11/16,12/18/16,...,M,1/18/74,571-32-3662,Z350-2956-6553,5/16/19,IL,3/11/00,741-637-0631,dnickless@life.com,0
4,LD32277,ONM5465,YY1229530,A-2017-ZO863,3,NaN,3,136633.9,6/6/17,6/8/17,...,M,5/1/50,315-84-4443,E912-8544-3880,7/6/20,IL,7/4/12,735-427-0152,fliggan@mooosend.com,0